<%= form_for(@team) do |f| %>
	<%= render partial: 'shared/errors', object: @team.errors %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	
	<h4>Supervisor</h4>
	<%= f.collection_select :supervisor_id, Employee.all, :id, :name, include_blank: true %>
	<br>
	
	<h4>Add Members Now if you'd like</h4>
		<% Employee.all.each do |employee| %>
			<label><%= employee.name %>
				<%= check_box_tag(
								'team[member_ids][]',
								employee.id,
								@team.member_ids.include?(employee.id)
				)%>
			</label>
		<% end %>
		<%= hidden_field_tag 'team[member_ids][]', '' %>
	<br>
	
	<%= f.submit class: 'btn' %>
	
<% end %>