<h2><%= team.name %></h2>
<% multi ||= false%>
<% if multi %>
<p>
	<a href='<%= edit_team_path(team) %>' class='btn btn-primary btn-small'>edit</a>
	<%= link_to team_path(team), method: :delete, confirm: 'are you sure?' do %>
		<i class='icon-remove'></i>
	<% end %>
</p>										
<% end %>

<h5>SupaVisa: <%= team.supervisor.try(:name) %></h5>
<h4>All Members</h4>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Position</th>
	</tr>
	<% team.members.each do |member| %>
	<tr>
		<td><%= member.name %></td>
		<td><%= member.position %></td>
	</tr>
	<% end %>
</table>
