<h1 class='inline'>Showing One Employee</h1>
<h3><%= link_to 'All Employees', employees_path %></h3>

<%= button_to 'edit', edit_employee_path(@employee),
			 			class: 'btn btn-primary btn-small', method: :get %></td>
<h2>Name: <%= @employee.name %></h2>

<%= render partial: 'photo' %>

<p><strong>Position:</strong> <%= @employee.position %></p>
<p><strong>Supervisor:</strong> <%= @employee.supervisor.try(:name) %></p>
<br>

<h5>Dossier</h5>
<div class='well'>
	<p><%= @employee.profile.try(:content) %></p>
</div>

<table class='table'>
	<thead>
		<tr>
			<th>Height</th>
			<th>Age</th>
			<th>Favorite Food</th>
			<th>Favorite Day</th>
			<th>Birthday</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @employee.profile.height %></td>
			<td><%= @employee.profile.age %></td>
			<td><%= @employee.profile.favorite_food %></td>
			<td><%= @employee.profile.favorite_day %></td>
			<td><%= @employee.profile.birthday %></td>												
		</tr>	
	</tbody>
</table>